.box{
   
    font-size:18px;
    text-align:center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;
    /* width:33.33%; */
}
.box-1{
    background: aqua;
   
}
.box-2{
background:crimson;
}
.box-3{
    background:maroon;
    flex-grow:10;
}
.box-4{
background:red;
}
.box-5{
  background: mediumblue;
}
.box-6{
  background: moccasin;
}


.container{
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  border:10px solid black; 
  height:100vh;
}

.box{
   /* flex-basis:500px; */
   flex-basis:250px;
   flex-grow:1;
  /* flex-wrap:1; */ */
 
}
.box-3{
  flex-grow:5;
}
.box-4{
  flex-basis:100px;
}