.box{
    color: antiquewhite;
    font-size:100px;
    text-align:center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;

}
.box-1{
    background: aqua;
}
.box-2{
background:crimson;
}
.box-3{
background: blueviolet;
}
.box-4{
background: cornflowerblue;
}
.box-5{
background: darkgoldenrod;
}
.box-6{
background: darkseagreen;
}
.box-7{
background: darksalmon;
}
.box-8{
background: darkturquoise;
}
.box-9{
    background: firebrick;

}
.box-10{
background: lightcoral;
}
.container{
    display:flex;
    
}
.box{
   flex:1;
}

.box-10{
    order:0;
}
.box-9{
    order:1;
}
.box-8{
    order:2;
}
.box-7{
    order:3;
}
.box-6{
    order:4;
}
.box-5{
    order:5;
}
.box-4{
    order:6;
}
.box-3{
    order:7;
}
.box-2{
    order:8;
}
.box-1{
    order:9;
}
