/* .box{
    color: antiquewhite;
    font-size:18px;
    text-align:center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;

} */
.box-1{
    background: aqua;

  
   
  
}
.box-2{
background:crimson;




}
.box-3{
background: blueviolet;




}
.box-4{
background: cornflowerblue;

}
.box-5{
background: darkgoldenrod;


}
.box-6{
background: darkseagreen;

}

.container{
  display:flex;
  flex-wrap:wrap;


}
.box{
 
  flex:1;
  width:33.33%;
  
}
.box-1{
  flex:1;
}
.box-2{
flex:2;
}